.footer {
    position: absolute;
    margin: auto;
    background-color: pink;
    height: 10vh;
    width: 100vw;
}

#footerText {
    text-align: center;
    background-color: aqua;
    width: 50vw;
}